<div class="row" *ngIf="!turnero">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Configuracion Turnero</h4>
                <div *ngIf="msg" class="alert alert-danger">{{ msg }}</div>

                <form class="m-t-30" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Usuario</label>
                        <input type="text"  formControlName="username" class="form-control" id="name" aria-describedby="nameHelp"  required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="password"  required>
                    </div>
                    <div class="form-group">
                        <label for="gla">Grupo Lugar Atencion</label>
                        <input type="number" formControlName="gla" class="form-control" id="gla" aria-describedby="glaHelp">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" formControlName="sla" type="checkbox"  id="flexCheckChecked">
                        <label class="form-check-label"  for="flexCheckChecked">
                          Sin lugar de atención
                        </label>
                      
                    </div>
                    <button type="submit" class="btn btn-primary"  [disabled]="!loginForm.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="turnero" >
    <div class="col" *ngIf="!soloVideo">
        <div class="card">
            <div class="card-body">
                        <div class="card">
                                <div class="table-responsive">
                                    <table class="table table-hover table-info">
                                        <thead class="bg-info text-white">
                                            <tr>
                                                <th scope="col">Codigo</th>
                                                <th scope="col">Lugar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor ="let d of data; let io = index ">
                                                <td>{{d[0].value}}</td>
                                                <td>{{d[2].value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                </div>
            </div>
    </div>
    
    <div class="col">
        <div class="card">
            <div class="card-body">

                <div *ngIf="cargado" class="video-player-wrapper">

              <video   #videoPlayer muted autoplay oncanplay="this.play()"  (ended)="nextVideo()" onloadedmetadata="this.muted = true" controls="controls" width="600px" height="600px">
                <source [src]="src" type ="video/mp4">
                Your browser does not support the HTML5 Video element.
            </video>
        </div>

            </div>
        </div>
    </div>
</div>
