<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                        <div class="card">
                                <div class="table-responsive">
                                    <table class="table table-hover table-info">
                                        <thead class="bg-info text-white">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Codigo</th>
                                                <th scope="col">Lugar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor ="let d of data; let io = index ">
                                                <th scope="row">{{io}}</th>
                                                <td>G{{io}}</td>
                                                <td>{{d[1].value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                </div>
            </div>
    </div>
    
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div *ngIf="cargado" class="video-player-wrapper">

              <video   #videoPlayer muted autoplay oncanplay="this.play()"  (ended)="nextVideo()" onloadedmetadata="this.muted = true" controls="controls" width="600px" height="600px">
                <source [src]="src" type ="video/mp4">
                Your browser does not support the HTML5 Video element.
            </video>
        </div>

            </div>
        </div>
    </div>
</div>
